<nav class="navbar navbar-expand-lg border-light border-bottom navbar-light d-flex justify-content-between">

    <div>
       <i class="fas fa-exclamation-triangle text-light"></i>
        <span> Central de Erros - Squad III </span>
    </div>

    <div class="d-flex justify-content-around">
        <div class="mr-2"  target="_blank" rel="noopener noreferrer">Logs</div>
        <div  target="_blank" rel="noopener noreferrer">Detalhes</div>
    </div>

    <!-- Token do usuário -->
    <div class=" d-flex justify-content-between align-items-center">
        <div title="Token de {{user.name}}">
            <i class="fas fa-user-circle"></i>
            <span class="mt-2 ml-2" >{{user.name}}</span>
        </div>
    </div>

</nav>