//Font
@font-face {
    font-family: "mont";
    src: url("../../../assets/fonts/montserrat-light-webfont.woff") format("opentype");
  }

// Variabeles
$light : #FFF;
$dark : #242424!important;

.padding-correction:not(#not-found){ padding: 1rem 5rem; }
.header{ width:  calc(100vw - (80vw * 0.16)); }

*:not(i){ font-family: 'mont'; }

.card{
    color: $light;
    font-size: medium;
    width: 19.6vw;
    min-width: 16.6rem;
    height: 15rem;
    background-color: $dark;

    &:hover{
        background-color:#575757!important;       
        cursor: pointer;
        box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
        transform: translateY(-0.25em);
    }
}

.dropdown{
  
    &.dropdown-item{
        color: $dark!important;
        &:hover{
            background-color: darken(#FFF, 30%);
        }
    }

    #enviroment{ min-width: 9.5rem; }
    #level{ min-width: 7.5rem; }
}