<app-navbar></app-navbar>

<body class="pt-5">
    
<!-- Menu -->
<div class="d-flex justify-content-between rounded align-items-center p-2 border mx-auto header">

    <div class="d-flex">

        <!-- DropDown Enviroment-->
        <div title="Ambiente" ngbDropdown class="d-inline-block dropdown mr-2">
            <button class="btn btn-outline-light" id="enviroment" ngbDropdownToggle>{{selectedEnvironment}}</button>
            <div ngbDropdownMenu>
                <button class="dropdown-item" *ngFor="let enviroment of enviroments" (click)="this.selectedEnvironment = enviroment"
                    ngbDropdownItem>{{enviroment}}
                </button>
            </div>
        </div>

        <!-- Order by Level -->
        <div>

            <div title="Ordenar Por" ngbDropdown class="d-inline-block dropdown mr-2">
                <button class="btn btn-outline-light" id="level" ngbDropdownToggle>{{selectedLevel}}</button>
                <div ngbDropdownMenu>
                    <button *ngFor="let level of levels" (click)="this.selectedLevel = level" ngbDropdownItem>{{level}}
                    </button>
                </div>
            </div>

            <!-- Sort Asc -->
            <button title="Ordem Ascendente" class="btn btn-outline-light mr-2">
                <i class="fa fa-sort-amount-desc" ></i>
            </button>

            <!-- Sort Desc -->
            <button title="Ordem Decrescente" class="btn btn-outline-light">
                <i class="fa fa-sort-amount-asc" ></i>
            </button>

        </div>
    </div>

    <div class="input-group" style="width: fit-content;">
        
        <!-- Archive -->
        <div title="Arquivar Log" class="d-flex px-2">
            <div class="mr-2">
                <button class="btn btn-outline-light">
                    <i class="fa fa-archive" ></i>
                </button>
            </div>
            
            <!-- Delete -->
            <div title="Deletar Log" >
                <button class="btn btn-outline-light">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </div>
        </div>
        
        
        <!-- Searchbar -->
        <button class="btn btn-outline-light border-right-0 rounded-right">
            <i class="fa fa-search"></i>
        </button>
        <input type="text" class="form-control">
        <button class="btn btn-outline-light border-left-0 rounded-left">
            <i class="fa fa-times"></i>
        </button>
    </div>

</div>

<!-- Body -->
<div class="d-flex flex-wrap mb-5 pt-5 padding-correction flex-wrap justify-content-between">

    <div (click)="log.checked = !log.checked"  class="card mb-4 align-items-start border-light" 
    *ngFor="let log of logs"
    [ngStyle]="{'background-color': log.checked ? '#2545!important' : null }">

        <!-- Card Header -->
        <div  class="card-header w-100 d-flex flex-wrap border-light justify-content-between align-items-center">

            <span class="ml-2" title="Origem" >{{log?.origin }}</span>
            
            <div>
                <span title="Ocorrências" >{{ log?.occurrences.length }}</span>
                <span class="ml-2" title="{{ log.level | titlecase }}">
                    <i *ngIf="log.level.toLowerCase() == 'warning'" class="fa fa-exclamation-triangle text-warning"
                        ></i>
                    <i *ngIf="log.level.toLowerCase() == 'debug'" class="fa fa-bug text-info" ></i>
                    <i *ngIf="log.level.toLowerCase() == 'error' " class="fa fa-exclamation-circle text-danger" ></i>
                </span>
            </div>

        </div>

        <!-- Card Body -->
        <div class="card-body justify-content-center align-items-center d-flex flex-wrap">

            <div class="justify-content-center">
                <small title="Descrição" >{{log.description}}</small>
            </div>

            <div class="p-1">
                <span title="Timestamp" >
                    {{log?.lastOccurrence | date:"dd/MM/yyyy"}}
                </span>
            </div>

        </div>

        <!-- Card Footer -->
        <div style="font-size: 1.5rem;" class="card-footer px-4 py-1 d-flex justify-content-between align-items-center border-light w-100" >

            <div >
                <i *ngIf="!log.checked" class="far fa-square"></i> 
                <i *ngIf="log.checked" class="far fa-check-square text-info"></i>
            </div>

            <div (click)="open(log)" class="justify-content-center align-items-center">
                <i class="fas fa-info-circle"></i>
            </div>

        </div>

    </div>

</div>

</body>
