<div class="d-flex flex-wrap" >

    <div class="d-flex side border-black justify-content-center align-items-center border-right" >
        <!-- SVG Logo CI&T Codenation -->
        <app-logos></app-logos>
    </div>

    <div class="d-flex side justify-content-center align-items-center" >
        
        <div class="d-flex flex-column p-4 align-items-center justify-content-center">
            <span class="pb-2">Central de Erros</span>
            <input type="email" class="mb-2">
            <input type="text" class="mb-2">
            <div class="btn btn-outline-dark w-100" routerLink="home" >Login</div>
        </div>

    </div>

</div>